.img_align_real{
    height: 50px;
    vertical-align: middle;
    margin-top: 25px;
    margin-left: 20px;
}


.container {
   
    position: relative;
    top: -80px;
   
  
}
.first-div{
    background-color:#32bcf5; height:100px; float: left; width: 100%;

}
.center-div{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.center-vertical{
    top: 0;
    bottom: 0;
    margin: auto; 
    letter-spacing: 2px; 
    text-align: center; 
    color: #fff; 
    
}

.column {
float: left;
width: 33.33%;
padding: 5px;

}
.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

h4, p{
    color: rgb(70, 70, 70);
    line-height: 200%;
}
h6{
    text-decoration: underline;
    color: #fff;
}
button{
    background-color: #2baae2 !important;
    border-color: #2baae2 !important;
}
.border-css{
    border-top: 10px solid rgba(128, 128, 128, 0.31);
    border-bottom : 10px solid rgba(128, 128, 128, 0.31);
    border-left : 8px solid rgba(128, 128, 128, 0.31);
    border-right : 8px solid rgba(128, 128, 128, 0.31);
    text-align: center; 
    padding: 15px;

}

.final-div{
    padding: 50px;
    margin-left: 0;
}


i{
    color: #fff;
    border: 1px solid #2f415e;
    padding:5px;
    border-radius: 50%;
    height: 27px;
    width: 27px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 35%;
    margin-left: auto; 
    margin-right: auto;
    color: #383838;
    font-size: small;
    background-color: #ffffff;
    font-size: 140%;
    word-spacing: 20%;
    
  }
  
  #customers td, #customers th {
    border: 1px solid #fff;
    padding: 5px;
  }
